option_settings:
  aws:elasticbeanstalk:environment:
    LoadBalancerType: 'application'
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckInterval: '15'
    HealthCheckPath: /
    HealthCheckTimeout: '5'
    HealthyThresholdCount: '3'
    UnhealthyThresholdCount: '5'
    Port: 8080
    Protocol: 'HTTP'