option_settings:
  #aws:elbv2:loadbalancer:
    #SecurityGroups: { "Ref" : "LoadbalancerSG" }
  aws:elbv2:listener:default:
    Protocol: 'HTTP'
    DefaultProcess: default

#Resources:
#  LoadbalancerSG:
#    Type: AWS::EC2::SecurityGroup
#    Properties:
#      GroupDescription: 'Load balancer security group'
#      VpcId:
#        Fn::GetOptionSetting:
#          NameSpace: "aws:ec2:vpc"
#          OptionName: VPCId
#      SecurityGroupIngress:
#        - IpProtocol: tcp
#          FromPort: 80
#          ToPort: 80
#          CidrIp: 0.0.0.0/0