Parameters:
  BackEndPort:
    Type: String
    Description: "Listen port for backend services"
    Default: 8080
  VPCId:
    Type: String
    Description: "VPC Id for environment"
    Default: vpc-019d5894e3e62c001

Resources:

    ELBSecurityGroup:
        Type: AWS::EC2::SecurityGroup
        Properties:
            GroupDescription: ELB SecurityGroup for ElasticBeanstalk environment.
            SecurityGroupIngress:
                - FromPort: 80
                  ToPort: 80
                  IpProtocol: tcp
                  CidrIp : 0.0.0.0/0
                - FromPort: 443
                  ToPort: 443
                  IpProtocol: tcp
                  CidrIp : 0.0.0.0/0
            VpcId: '`{ "Ref" : "VPCId" }`'

    EC2SecurityGroup:
        Type: AWS::EC2::SecurityGroup
        Properties:
            GroupDescription: EC2 SecurityGroup for ElasticBeanstalk environment.
            SecurityGroupIngress:
                - FromPort: '`{ "Ref" : "BackEndPort" }`'
                  ToPort: '`{ "Ref" : "BackEndPort" }`'
                  IpProtocol: tcp
                  SourceSecurityGroupId: { "Fn::GetAtt" : [ "ELBSecurityGroup", "GroupId" ]}
            VpcId: '`{ "Ref" : "VPCId" }`'